
:root {--primary-text-color:#212121;
--titel-text-color:#757575;
--accent-color:#2196F3;
--primary-white-color:#FFFFFF;
--h-button-color:#188CE8;
--box-shadow-color:0px 4px 4px rgba(0, 0, 0, 0.15);
--color-link-footer:rgba(255, 255, 255, 0.6);
--select-button-color:#F5F4FA;
--background-color:#2F303A ;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
}
a {text-decoration: none;
}
ul {list-style: none;
}

/* Шапка */

.logo {
    color: var(--accent-color);
    font-family: 'Raleway',
    sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    cursor: pointer; 
}

.colortext {
    color: var(--primary-text-color);
}

.contacts .contects-studia.current {
    color: var(--accent-color);
}
.contacts {
    color: var(--titel-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    cursor: pointer;
}

.contacts :visited {
    color: var(--primary-text-color);
}
.contacts :hover,.contacts :focus {
color: var(--accent-color);
}

.social-link-mail,.social-link-tel {
    color: var(--titel-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    }

 .social-link :hover,.social-link :focus {
    color: var(--accent-color);
 }
   /* Заказать услугу */
   .post 
   {
    background-color: var(--background-color);
   }

  .post-titel 
  {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  
.post-button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        display: flex;
        align-items: center;
        text-align: center;
        cursor: pointer;
}
.post-button :hover,.post-button :focus {
    background-color: var(--h-button-color);
}
    
/* Оссобенности */

.benefits-title {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}
.benefits-post {
       color: var(--titel-text-color);
        font-weight: 400;
        line-height: 1.71;
}
/* Чем мы занимаемся */
.work { 
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
}
        
/* Наша команда */
.over-comand {
    background-color: var(--select-button-color);
}
.team {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        }
       
 .team-member {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
    
 }
.team-post {
    color: var(--titel-text-color);
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
       
}
/* Подвал */
.footer {
    color: var(--primary-white-color);
background-color: var(--background-color);
font-style: normal;
}

.studiocolor{
    color: var(--primary-white-color);
}

.link {
    font-weight: 400;
    line-height: 1.71;
}
.link-address {
  color: var(--primary-white-color);  
}
.link-mail,.link-tel 
{
    color: var(--color-link-footer);            
}

/* Портфолио страница сайта №2 */

/* Портфолио */
.contacts .contacts-portfolio.current 
{
    color: var(--accent-color);
}

.buttons :hover,.buttons :focus 
{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}
.button-ol,.button-link,.button,.button-disigner,
.button-market
{   
    background-color: var(--select-button-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
}

/* Проекты */
   .project-name 
   {color: var(--primary-text-color);
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
}

.project-text
{ 
    color: var(--titel-text-color);
    font-size: 16px;
    line-height: 1.88;
  
}
